<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body class="container">
<h1 class="page-header">Books List</h1>
<div class="alert alert-success" th:unless="${#strings.isEmpty(message)}">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>恭喜, </strong>
    <span th:text="${message}"></span>
</div>
<p class="text-right"><a href="#" class="btn btn-primary" th:href="@{/books/input}">新增</a></p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>書名</th>
        <th>作者</th>
        <th>說明</th>
        <th>狀態</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book, iterStat: ${page.content}">
        <td th:text="${iterStat.count}">1</td>
        <!--        <td><a href="#" th:text="${book.name}" th:href="@{/books/{id} (id=${book.id})}">書名</a></td>-->
        <td><a href="#" th:text="${book.name}" th:href="@{'/books/' + ${book.id}}">書名</a></td>
        <td th:text="${book.author}">作者</td>
        <td th:text="${book.description}">說明</td>
        <td th:switch="${book.status}">
            <span th:case="0">想讀</span>
            <span th:case="1">在讀</span>
            <span th:case="2">已讀</span>
            <span th:case="*">狀態</span>
        </td>
        <td>
            <a href="#" th:href="@{'/books/' + ${book.id} + '/input'}">更新</a>
        </td>
    </tr>
    </tbody>
</table>

<nav>
    <ul class="pager">
        <li class="previous"><a href="#" th:href="@{'/books?page=' + ${page.number - 1}}">上一頁</a></li>
        <li class="next"><a href="#" th:href="@{'/books?page=' + ${page.number + 1}}">下一頁</a></li>
    </ul>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>