<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>新增書單</title>
    <!--    <link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container" style="max-width: 700px; margin-top: 50px;">
    <h2 class="page-header" style="margin-top: 50px;">新增書單</h2>
    <div class="well">
        <form action="#" th:action="@{/books}" method="post">
            <div class="form-group">
                <label for="nameId">書名</label>
                <input type="text" name="name" id="nameId" class="form-control">
            </div>
            <div class="form-group">
                <label for="authorId">作者</label>
                <input type="text" name="author" id="authorId" class="form-control">
            </div>
            <div class="form-group">
                <label for="descriptionId">描述</label>
                <input type="text" name="description" id="descriptionId" class="form-control">
            </div>
            <div class="form-group">
                <label for="statusId">狀態</label>
                <select name="status" id="statusId" class="form-control">
                    <option value="0">想讀</option>
                    <option value="1">在讀</option>
                    <option value="2">已讀</option>
                </select>
            </div>
            <p>
                <button type="submit" class="btn btn-primary">提交</button>
            </p>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--<script src="../static/js/bootstrap.min.js"></script>-->
</body>
</html>